<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified"/>
    </handlers>

    <httpPlatform processPath="%HOME%\Python312\python.exe"
                  arguments="-m gunicorn -w 1 -k uvicorn.workers.UvicornWorker main:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log"/>
  </system.webServer>
</configuration>